*{
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: -10px;
    padding: -10px;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
}

.plateforme{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-around;
    padding: 100px;
    background-image: url("https://media.istockphoto.com/illustrations/grass-background-golf-courses-green-lawn-illustration-id673056730?k=6&m=673056730&s=612x612&w=0&h=9NqDlE20ooxpeRgTg-YfynHNcRJV2RBqBh1izXKWFUM=");
    height: 1000px;
    width: 1200px;


}

/* SQUARE */

.squares{
    border-radius: 5px;
    background-color: rgba(158, 114, 19, 0.60);
    width: 20%;
    height: 20%;
    border: 2px solid black;

}

.squares:hover{
  background-color: rgba(26, 45, 192, 0.60);
}

.squaresNotOk:hover{
    background-color: rgba(209, 29, 32, 0.60);
}



/* BUILDINGS */


.buildingLvl1{
    background-image: url("../img/buildingLvl1.png");
    height: 250px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
}

.buildingLvl2{
    background-image: url("../img/buildingLvl2.png");
    height: 250px;
    background-repeat: no-repeat;
    margin-top: -35px;
    margin-left: 20px;

}

.buildingLvl3{
    background-image: url("../img/buildingLvl3.png");
    height: 250px;
    background-repeat: no-repeat;
    margin-top: -35px;
    margin-left: 20px;
}

.buildingLvl3Dome{
    background-image: url("../img/buildingLvl4.png");
    height: 280px;
    background-repeat: no-repeat;
    margin-top: -120px;
    margin-left: 20px;
}


/* PIONS */

.pion1{
    background-image: url("../img/pion.png");
    height: 280px;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-left: 70px;

}

.pion2{
    background-image: url("../img/pion2.png");
    height: 280px;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-left: 70px;

}



/* BUILDINGS WITH PIONS */

.buildindAndPion {
    height: 300px;
    background-repeat: no-repeat;
    margin-top: -140px;
    margin-left: -40px;
}

.buildingLvl1WithPion1{
    background-image: url("../img/buildingLvl1WithPion1.png");
}

buildingLvl2WithPion1{
    background-image: url("../img/buildingLvl2WithPion1.png");
}
buildingLvl3WithPion1{
    background-image: url("../img/buildingLvl3WithPion1.png");
}

/* PION 2 */




buildingLvl1WithPion2{
    background-image: url("../img/buildingLvl1WithPion2.png");
    height: 300px;
    background-repeat: no-repeat;
    margin-top: -140px;
    margin-left: -40px;
}
buildingLvl2WithPion2{
    background-image: url("../img/buildingLvl2WithPion2.png");
}
buildingLvl3WithPion2{
    background-image: url("../img/buildingLvl3WithPion2.png");
}


/*log */
.log{
    background-color: gray;
    height: 1000px;
    width: 40%;
}

/* FORMULAIRE */

.formulaire{
    height: 400px;
    width: 400px;
    margin-left: 40%;
    padding-top: 20%;
}


.background{
    background-image: url("../img/minimalist.jpg");
    height: 1076px;
    margin-top: -100px;
    background-repeat: no-repeat;
    background-position: top;
}

h1{
    text-align: center;
    margin-top: 500px;
    font-family: Impact, fantasy;
    font-style: italic;
}

