<!DOCTYPE html>
<html>
<head>
    <title> Jeu santorini </title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>





<div class="plateforme">

    <div class="squares">

        <div class="buildingLvl1">
        </div>
    </div>

    <div class="squares">
        <div class="buildingLvl2">
        </div>

    </div>

    <div class="squares">
        <div class="buildingLvl3">
        </div>
    </div>

    <div class="squares">
        <div class="buildingLvl3Dome">
        </div>
    </div>

    <div class="squares">
        <div class="pion1">
        </div>
    </div>

    <div class="squares">
        <div class="pion2">
    </div>
    </div>

    <div class="squares">
        <div class="buildingLvl1WithPion1 buildindAndPion">
        </div>
    </div>

    <div class="squares">
        <div class="buildingLvl1WithPion2">
        </div>
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>



</div>

</body>

</html>