<!DOCTYPE html>
<html>
<head>
    <title> Jeu santorini </title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div class="plateforme">

    <div class="squares">
    </div>

    <div class="squares">
        </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">

    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>

    <div class="squares">
    </div>



</div>

</body>

</html>