<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <script src="socket.io/socket.io.js"></script>
    <script src="../client/SocketIoUtils.js"></script>
    <script src="../client/Board.js"></script>
    <script src="../client/GameControler.js"></script>
    <script src="../model/Building.js"></script>
    <script src="../model/Player.js"></script>
    <script src="../model/Square.js"></script>
    <script src="../model/Token.js"></script>
</body>
</html>
